@keyframes vibration {
    0% {margin-left: 0; margin-right: 0;}
    25% {margin-left: 5px; margin-right: -5px;}
    50% {margin-left: 0; margin-right: 0;}
    75% {margin-left: -5px; margin-right: 5px;}
    100% {margin-left: 0; margin-right:0;}
  }